APIMicroFocusDummy/src/main/resources/ticket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://everis.com/ticket"
	xmlns:tns="http://everis.com/ticket" elementFormDefault="qualified">

	<xs:complexType name="IncidentInstanceType">
		<xs:sequence>
			<xs:element name="number" type="xs:string" />

			<xs:element name="MapfreEnvironment" type="xs:string" />

			<xs:element name="timeStamp" type="xs:long" />
			<xs:element name="status" type="xs:string" />
			<xs:element name="Category" type="xs:string" />
			<xs:element name="Priority" type="xs:string" />
			<xs:element name="Urgency" type="xs:string" />
			<xs:element name="AssignmentGroup" type="xs:string" />
			<xs:element name="AffectedCI" type="xs:string" />

			<xs:element name="Description" type="xs:string" />

			<xs:element name="Assignee" type="xs:string" />
			<xs:element name="ContactPerson" type="xs:string" />
			<xs:element name="Company" type="xs:string" />
			<xs:element name="Title" type="xs:string" />
			<xs:element name="Level1" type="xs:string" />
			<xs:element name="Level2" type="xs:string" />
			<xs:element name="Level3" type="xs:string" />
			<xs:element name="UserImpact" type="xs:string" />
			<xs:element name="ServiceRecipient" type="xs:string" />
			<xs:element name="CurrentAmbit" type="xs:string" />
			<xs:element name="CoordinatorGroup" type="xs:string" />
			<xs:element name="BusinessImpact" type="xs:string" />
			<xs:element name="InitialAmbit" type="xs:string" />
			<xs:element name="Level4" type="xs:string" />
			<xs:element name="Level5" type="xs:string" />
			<xs:element name="MapfreIdcat" type="xs:string" />
			<xs:element name="Metal" type="xs:string" />
			<xs:element name="TypeEntry" type="xs:string" />
			<xs:element name="attachments" type="xs:string" />
		</xs:sequence>

		<xs:attribute name="query" type="xs:string"
			use="optional" />
		<xs:attribute name="updatecounter" type="xs:long"
			use="optional" />

		<xs:attribute name="attachmentInfo" type="xs:boolean"
			use="optional" />
		<xs:attribute name="attachmentData" type="xs:boolean"
			use="optional" />
		<xs:attribute default="true" name="ignoreEmptyElements"
			type="xs:boolean" use="optional" />
		<xs:attribute default="-1" name="updateconstraint"
			type="xs:long" use="optional" />
	</xs:complexType>
	<xs:element name="IncidentInstanceType"
		type="tns:IncidentInstanceType" />

	<xs:complexType name="ArrayOfIncidentInstanceType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded"
				name="IncidentInstanceType" type="tns:IncidentInstanceType" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ArrayOfIncidentInstanceType"
		type="tns:ArrayOfIncidentInstanceType" />


	<xs:element name="CreateIncidentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="query" type="xs:string" />
				<xs:element name="number" type="xs:string" />
				<xs:element name="messages" type="xs:string" />

				<xs:element name="Urgency" type="xs:string" />
				<xs:element name="updateTime" type="xs:string" />
				<xs:element name="CauseCodeL1" type="xs:string" />
				<xs:element name="AffectedCI" type="xs:string" />

				<xs:element name="Description" type="xs:string" />
				<xs:element name="Resolution" type="xs:string" />

				<xs:element name="Title" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="UserImpact" type="xs:string" />
				<xs:element name="MapfreAmbit" type="xs:string" />
				<xs:element name="MapfreEnvironment" type="xs:string" />
				<xs:element name="CauseCodeL2" type="xs:string" />
				<xs:element name="MapfreIdcat" type="xs:string" />
				<xs:element name="MapfreMonitorAlertId" type="xs:string" />
				<xs:element name="attachments" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="message" type="xs:string"
				use="optional" />
			<xs:attribute name="attachmentInfo" type="xs:string"
				use="optional" />
			<xs:attribute name="attachmentData" type="xs:string"
				use="optional" />
			<xs:attribute name="ignoreEmptyElements"
				type="xs:string" use="optional" />
			<xs:attribute name="updateconstraint" type="xs:string"
				use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateIncidentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="query" type="xs:string" />
				<xs:element name="number" type="xs:string" />
				<xs:element name="messages" type="xs:string" />

				<xs:element name="Urgency" type="xs:string" />
				<xs:element name="updateTime" type="xs:string" />
				<xs:element name="CauseCodeL1" type="xs:string" />
				<xs:element name="AffectedCI" type="xs:string" />

				<xs:element name="Description" type="xs:string" />
				<xs:element name="Resolution" type="xs:string" />

				<xs:element name="Title" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="UserImpact" type="xs:string" />
				<xs:element name="MapfreAmbit" type="xs:string" />
				<xs:element name="MapfreEnvironment" type="xs:string" />
				<xs:element name="CauseCodeL2" type="xs:string" />
				<xs:element name="MapfreIdcat" type="xs:string" />
				<xs:element name="MapfreMonitorAlertId" type="xs:string" />
				<xs:element name="attachments" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="updatecounter" type="xs:long"
				use="optional" />

			<xs:attribute name="attachmentInfo" type="xs:boolean"
				use="optional" />
			<xs:attribute name="attachmentData" type="xs:boolean"
				use="optional" />
			<xs:attribute default="true" name="ignoreEmptyElements"
				type="xs:boolean" use="optional" />
			<xs:attribute default="-1" name="updateconstraint"
				type="xs:long" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateIncidentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="query" type="xs:string" />
				<xs:element name="number" type="xs:string" />
				<xs:element name="messages" type="xs:string" />

				<xs:element name="Urgency" type="xs:string" />
				<xs:element name="updateTime" type="xs:string" />
				<xs:element name="CauseCodeL1" type="xs:string" />
				<xs:element name="AffectedCI" type="xs:string" />

				<xs:element name="Description" type="xs:string" />
				<xs:element name="Resolution" type="xs:string" />

				<xs:element name="Title" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="UserImpact" type="xs:string" />
				<xs:element name="MapfreAmbit" type="xs:string" />
				<xs:element name="MapfreEnvironment" type="xs:string" />
				<xs:element name="CauseCodeL2" type="xs:string" />
				<xs:element name="MapfreIdcat" type="xs:string" />
				<xs:element name="MapfreMonitorAlertId" type="xs:string" />
				<xs:element name="attachments" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="message" type="xs:string"
				use="optional" />
			<xs:attribute name="attachmentInfo" type="xs:string"
				use="optional" />
			<xs:attribute name="attachmentData" type="xs:string"
				use="optional" />
			<xs:attribute name="ignoreEmptyElements"
				type="xs:string" use="optional" />
			<xs:attribute name="updateconstraint" type="xs:string"
				use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateIncidentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="query" type="xs:string" />
				<xs:element name="number" type="xs:string" />
				<xs:element name="messages" type="xs:string" />

				<xs:element name="Urgency" type="xs:string" />
				<xs:element name="updateTime" type="xs:string" />
				<xs:element name="CauseCodeL1" type="xs:string" />
				<xs:element name="AffectedCI" type="xs:string" />

				<xs:element name="Description" type="xs:string" />
				<xs:element name="Resolution" type="xs:string" />

				<xs:element name="Title" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="UserImpact" type="xs:string" />
				<xs:element name="MapfreAmbit" type="xs:string" />
				<xs:element name="MapfreEnvironment" type="xs:string" />
				<xs:element name="CauseCodeL2" type="xs:string" />
				<xs:element name="MapfreIdcat" type="xs:string" />
				<xs:element name="MapfreMonitorAlertId" type="xs:string" />
				<xs:element name="attachments" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="updatecounter" type="xs:long"
				use="optional" />

			<xs:attribute name="attachmentInfo" type="xs:boolean"
				use="optional" />
			<xs:attribute name="attachmentData" type="xs:boolean"
				use="optional" />
			<xs:attribute default="true" name="ignoreEmptyElements"
				type="xs:boolean" use="optional" />
			<xs:attribute default="-1" name="updateconstraint"
				type="xs:long" use="optional" />
		</xs:complexType>
	</xs:element>


	<xs:element name="RetrieveIncidentListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="query" type="xs:string" />
				<xs:element name="number" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetrieveIncidentListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ArrayOfIncidentInstanceType"
					type="tns:ArrayOfIncidentInstanceType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>






	<!-- START SOAP CMDB -->
	<xs:complexType name="DeviceKeysType">
		<xs:sequence>
			<xs:element name="LogicalName" nillable="true"
				type="xs:string" />
		</xs:sequence>
		<xs:attribute name="query" type="xs:string"
			use="optional" />
		<xs:attribute name="updatecounter" type="xs:long"
			use="optional" />
	</xs:complexType>

	<xs:element name="DeviceKeysType" type="tns:DeviceKeysType" />

	<xs:complexType name="DeviceInstanceType">
		<xs:sequence>
			<xs:element name="file.device">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LogicalName" nillable="true"
							type="xs:string" />
						<xs:element name="Vendor" nillable="true"
							type="xs:string" />
						<xs:element name="Model" nillable="true"
							type="xs:string" />
						<xs:element name="SerialNo" nillable="true"
							type="xs:string" />
						<xs:element name="Location" nillable="true"
							type="xs:string" />
						<xs:element name="Type" nillable="true"
							type="xs:string" />
						<xs:element name="Description" nillable="true"
							type="xs:string" />
						<xs:element name="Istatus" nillable="true"
							type="xs:string" />
						<xs:element name="Version" nillable="true"
							type="xs:string" />
						<xs:element name="Subtype" nillable="true"
							type="xs:string" />
						<xs:element name="Comments">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="Comments"
										type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Building" nillable="true"
							type="xs:string" />
						<xs:element name="Manufacturer" nillable="true"
							type="xs:string" />
						<xs:element name="Assignment" nillable="true"
							type="xs:string" />
						<xs:element name="LocationComments" type="xs:string" />
						<xs:element name="IpAddress" nillable="true"
							type="xs:string" />
						<xs:element name="TempType" nillable="true"
							type="xs:string" />
						<xs:element name="DisplayName" nillable="true"
							type="xs:string" />
						<xs:element name="SmDeviceDisplayName" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreFunctionalOwner"
							nillable="true" type="xs:string" />
						<xs:element name="MapfreInfrastructureOwner"
							nillable="true" type="xs:string" />
						<xs:element name="MapfreOperationalOwner"
							nillable="true" type="xs:string" />
						<xs:element name="MapfreMultienvironment">
							<xs:complexType>

								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="MapfreMultienvironment" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
						</xs:element>
						<xs:element name="MapfreVerificationStatus"
							nillable="true" type="xs:string" />
						<xs:element name="MapfreNameAlliases" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreRack" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreName" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreHostname" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="file.node">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PhysicalMemTotal" nillable="true"
							type="xs:integer" />
						<xs:element name="OsVersion" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreOsName" nillable="true"
							type="xs:string" />
						<xs:element name="MapfrePrimaryDns" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreRack" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreRemoteConsoleIp"
							nillable="true" type="xs:string" />
						<xs:element name="MapfreTotalDisk" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreProcessorIdOkArray">
							<xs:complexType>

								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="MapfreProcessorIdOkArray" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
						</xs:element>
						<xs:element name="MapfreProcessorSpeedOkArray">
							<xs:complexType>

								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="MapfreProcessorSpeedOkArray" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
						</xs:element>
						<xs:element name="MapfreNetInterfaceOkArray">
							<xs:complexType>

								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="MapfreNetInterfaceOkArray" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
						</xs:element>
						<xs:element name="MapfreNetIpOkArray">
							<xs:complexType>

								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="MapfreNetIpOkArray" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
						</xs:element>
						<xs:element name="MapfreNetMacOkArray">
							<xs:complexType>

								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="MapfreNetMacOkArray" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
						</xs:element>
						<xs:element name="MapfreNetMaskOkArray">
							<xs:complexType>

								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="MapfreNetMaskOkArray" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
						</xs:element>
						<xs:element name="MapfreNetCommentsOkArray">
							<xs:complexType>

								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="MapfreNetCommentsOkArray" type="xs:string" />
								</xs:sequence>

							</xs:complexType>
						</xs:element>
						<xs:element name="MapfreOsPlatform" nillable="true"
							type="xs:string" />
						<xs:element name="MapfreHostname" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="attachments" nillable="true"
				type="xs:string" />
		</xs:sequence>
		<xs:attribute name="query" type="xs:string"
			use="optional" />
		<xs:attribute name="uniquequery" type="xs:string"
			use="optional" />
		<xs:attribute name="recordid" type="xs:string"
			use="optional" />
		<xs:attribute name="updatecounter" type="xs:long"
			use="optional" />
	</xs:complexType>

	<xs:element name="DeviceInstanceType"
		type="tns:DeviceInstanceType" />

	<xs:complexType name="DeviceModelType">
		<xs:sequence>
			<xs:element name="keys" type="tns:DeviceKeysType" />
			<xs:element name="instance" type="tns:DeviceInstanceType" />
			<xs:element name="messages" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="query" type="xs:string"
			use="optional" />
	</xs:complexType>


	<xs:element name="RetrieveDeviceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="model" type="tns:DeviceModelType" />
			</xs:sequence>
			<xs:attribute name="attachmentInfo" type="xs:boolean"
				use="optional" />
			<xs:attribute name="attachmentData" type="xs:boolean"
				use="optional" />
			<xs:attribute default="true" name="ignoreEmptyElements"
				type="xs:boolean" use="optional" />
			<xs:attribute name="updatecounter" type="xs:boolean"
				use="optional" />
			<xs:attribute name="handle" type="xs:string"
				use="optional" />
			<xs:attribute name="count" type="xs:long" use="optional" />
			<xs:attribute name="start" type="xs:long" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="RetrieveDeviceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="model" type="tns:DeviceModelType" />
				<xs:element name="messages" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="status" type="xs:string"
				use="required" />
			<xs:attribute name="message" type="xs:string"
				use="required" />
			<xs:attribute name="schemaRevisionDate" type="xs:date"
				use="required" />
			<xs:attribute name="schemaRevisionLevel" type="xs:int"
				use="required" />
			<xs:attribute name="returnCode" type="xs:decimal"
				use="optional" />
			<xs:attribute name="query" type="xs:string"
				use="optional" />
			<xs:attribute name="handle" type="xs:string"
				use="optional" />
			<xs:attribute name="count" type="xs:long" use="optional" />
			<xs:attribute name="more" type="xs:boolean"
				use="optional" />
			<xs:attribute name="start" type="xs:long" use="optional" />
		</xs:complexType>
	</xs:element>

</xs:schema>